@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
padding: 0;
margin: 0;
}

* {
box-sizing: border-box;
margin-block-start: 0;
}

.hero {
display: grid;
grid-template-areas: "stack";
width: 100%;
}
.hero > img {
grid-area: stack;
object-fit: cover;
object-position: center;
width: 100%;
height: 1038px;
animation-name: parallax;
animation-timing-function: linear;
animation-timeline: scroll();
}
.hero > .parallax_1 {
--speed: 100 * 1;
}
.hero > .parallax_2 {
--speed: 100 * 2;
}
.hero > .parallax_3 {
--speed: 100 * 3;
}
.hero > .parallax_4 {
--speed: 100 * 4;
}
.hero > .parallax_5 {
--speed: 100 * 5;
}
.hero > .parallax_6 {
--speed: 100 * 6;
}
.hero > .parallax_7 {
--speed: 100 * 7;
}
.hero > .parallax_8 {
--speed: 100 * 8;
}

@keyframes parallax {
to {
transform: translateY(calc(var(--speed) * 2px));
}
}
.content {
background-color: #200104;
padding: 5vw;
color: white;
position: relative;
z-index: 1;
}
.content > * {
max-width: 65rem;
margin-inline: auto;
}


.gallery {
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 5px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    
    &:has(:hover) img:not(:hover),
    &:has(:focus) img:not(:focus){
      filter: brightness(0.5) contrast(0.5);
    }
  
    & img {
      object-fit: cover;
      width: calc(var(--size) * 2);
      height: calc(var(--size) * 2);
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      transition: clip-path 0.25s, filter 0.75s;
      grid-column: auto / span 2;
      border-radius: 5px;
  
      &:nth-child(5n - 1) { 
        grid-column: 2 / span 2 
      }
  
      &:hover,
      &:focus {
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        z-index: 1;
        transition: clip-path 0.25s, filter 0.25s;
      }
      
      &:focus {
        outline: 1px dashed black;
        outline-offset: -5px;
      }
    }
  }