@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
padding: 0;
margin: 0;
}

* {
box-sizing: border-box;
margin-block-start: 0;
}

.hero {
display: grid;
grid-template-areas: "stack";
width: 100%;
}
.hero > img {
grid-area: stack;
object-fit: cover;
object-position: center;
width: 100%;
height: 1038px;
animation-name: parallax;
animation-timing-function: linear;
animation-timeline: scroll();
}
.hero > .parallax_1 {
--speed: 100 * 1;
}
.hero > .parallax_2 {
--speed: 100 * 2;
}
.hero > .parallax_3 {
--speed: 100 * 3;
}
.hero > .parallax_4 {
--speed: 100 * 4;
}
.hero > .parallax_5 {
--speed: 100 * 5;
}
.hero > .parallax_6 {
--speed: 100 * 6;
}
.hero > .parallax_7 {
--speed: 100 * 7;
}
.hero > .parallax_8 {
--speed: 100 * 8;
}

@keyframes parallax {
to {
transform: translateY(calc(var(--speed) * 2px));
}
}
.content {
background-color: #200104;
padding: 5vw;
color: white;
position: relative;
z-index: 1;
}
.content > * {
max-width: 65rem;
margin-inline: auto;
}